

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

# Gradle
.gradle/
build/
*/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
captures/
.externalNativeBuild
.cxx
local.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Android Studio
.navigation/
*.swp
*~

# Keystore files
*.jks
*.keystore

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.fake